@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --bs-primary: #151314;
    --bs-secondary: #E7E7E7;
    --bs-success: #3A2220;
    --bs-green: #242523;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;


    --bs-font-sans-serif: "Lato", sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-font-primary: "Lora", serif;
    
    --bs-body-color: var(--bs-secondary);
    --bs-secondary-color: var(--bs-primary);
    --bs-tertiary-color: var(--bs-success);

    --bs-body-bg: var(--bs-primary);
    --bs-secondary-bg: var(--bs-secondary);
    --bs-tertiary-bg: var(--bs-success);

    --bs-link-color: var(--bs-primary);

    --bs-link-decoration: underline;
    --bs-link-hover-color: var(--bs-danger);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
    outline: none !important;
}

::selection{
    background-color: rgba(160, 14, 14, 0.557);
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}



/*HEADER*/
.logo{
    max-width: 25%;
}
header .nav-link{
    border-bottom: 2px solid var(--bs-light);
}
header .nav-link:hover{
    border-bottom: 2px solid;
}



/*HERO*/
.titulo{
    font-family: var(--bs-font-primary);
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero-container h2, .menu-container h2{
    font-size: 5rem;
}

.hero-container div{
    backdrop-filter: blur(10px);
    position: relative;
}
.hero-container div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-success);
    clip-path: polygon(
        0 0,
        100% 0,
        0 100%
    );
    z-index: -1;
}
.hero-container div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0,0,0,0.6) 50%
    );
    z-index: -2;
}





/*MAIN*/
.chef-container .card-title{
    background-color: var(--bs-primary);
}

/*MENU*/
.subtitulo{
    font-size: 3rem;
}
.menu-container div{
    backdrop-filter: blur(10px);
    position: relative;
}
.menu-container div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-green);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%
    );
    z-index: -1;
}
.menu-container div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0,0,0,0.6) 50%
    );
    z-index: -2;
}



/*FOOTER*/
footer, footer .nav-link{
    color: var(--bs-secondary) !important;
}



/* Botón Subir */
.toTop {
  border: none;
  font-size: 2.5rem;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;

  position: fixed; 
  right: 1rem; 
  bottom: 1rem; 
  z-index: 9999;
}
.toTop:not(.is-visible) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
}

.toTop {
  background-color: transparent;
  color: #fff;
  color: var(--bs-danger);
}



@media (max-width: 992px){
    .logo{
        max-width: 50%;
    }

    .hero, .hero-container{
        position: static !important;
    }
    .hero-container h2{
        font-size: 3rem;
    }

    .menu-container div{
        backdrop-filter: blur(2px);
    }
    .menu-container div::before, .menu-container div::after{
        display: none;
    }
}